{{ ansible_managed|comment }}

[Unit]
Description=Ansible system configuration management

[Timer]
{{ ansible_pull_timer }}
Unit=ansible-pull.service
Persistent=false

[Install]
WantedBy=multi-user.target
